body {
  color: var(--neutral-foreground-rest);
  background-color: var(--fill-color);
  padding: 0;
  margin: 0;
  font-family: aktiv-grotesk, 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

*:not(:defined) {
  opacity: 0;
}